<section class="footer">

    <div class="box-container">

        <div class="box">
            <h3>Контактная информация</h3>
            <a href="#">+123-456-7890</a>
            <a href="#">+111-222-3333</a>
            <a href="#">djunpy@gmail.com</a>
            <a href="#">djunpy@gmail.com</a>
            <a href="#">Кишинев, Молдова</a>
        </div>

         <div class="box">
            <h3>Навигация</h3>
            <a href="#">home</a>
            <a href="#">dishes</a>
            <a href="#">about</a>
            <a href="#">menu</a>
            <a href="#">reivew</a>
            <a href="#">order</a>
        </div>

        <div class="box">
            <h3>Подпишись на нас</h3>
            <a href="#">facebook</a>
            <a href="#">twitter</a>
            <a href="#">instagram</a>
            <a href="#">linkedin</a>
        </div>

    </div>

    <div class="credit"> copyright @ 2021 by <span>mr. Djunpy</span> </div>

</section>