{% extends 'base.html' %}
{% load static %}

{% block content %}

<section class="menu" id="menu">

    <div class="box-container">
    {% for obj in object_list %}
        {% if forloop.counter <= 4 %}
        <div class="box">
            <div class="image">
                <img src="{{ obj.image.url }}" alt="{{ obj.name }}">
            </div>
            <div class="content">
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <h3>{{ obj.name|truncatechars:30 }}</h3>
                <p>{{ obj.desc|truncatechars:190 }}</p>
                <a href="{{ obj.get_absolute_url }}" class="btn">Подробней</a>
                <span class="price">${{ obj.price }}</span>
            </div>
        </div>
        {% endif %}
    {% endfor %}

    </div>

</section>
{% endblock content %}